* {
    background-color: black;
}

h1 {
    color: #A39096;
    display: flex;
    justify-content: center;
    font-size:50px;
    padding: 90px;
}

#app {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.boton {
    width: 250px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: #a6808c;
    color:white;
    font-size:15px;
    padding: 10px;
}

.contenedor {
    margin: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 20px;
}

h2 {
color: #a6808c   ;
    margin:30px;
    font-size:30px;
}

p {
    color: #ccb7ae;
    font-size:20px;
    display:flex;
    height: 20px;
    padding:10px;
    margin-left:40px;
}
